name: Show Me the S3cr3tz
on: workflow_dispatch

jobs:
  debug:
    name: Debug
    runs-on: ubuntu-latest
    steps:
    - name: Set up secret file
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.TESTSECRET }}
      run: |
        echo ${{secrets.TESTSECRET}} | sed 's/./& /g'
